<html>
    <head>
        <title>TradeCoins</title>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    </head>

    <body>
        <h1 style="font-family:courier" style=color:#40a0b8> Welcome to TradeCoins! </h1>
        <body style="background-color:#C5E1A5;">



        <div id="chart"></div>
        

        <div id="trades"></div>

        <div style="border: solid gray 1px; padding: 20px; width: 600px; margin-top: 20px;">
            <h3 style="font-family:courier" style=color:#40a0b8>Buy Crypto</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div style="font-family:courier; padding: 10px; margin-bottom: 10px; background: pink; border: solid red 1px; color: red;">

                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>

                {% endif %}
            {% endwith %}

        <form action="/buy" method="post">
            <input type="text" id="quantity" name="quantity" placeholder="eg. 0.001" />
            <select id="symbol" name="symbol">
                {% for symbol in symbols %}
                    <option>{{ symbol['symbol'] }}</option>
                 {% endfor %}
            </select>
            <input type="submit" name="buy" value="buy" />
        </form>

        <h3 style="font-family:courier">Technical Analysis Tools</h3>
        <div id="technical analysis tools"></div>
            
            <div>
                <input type="checkbox" /> <label style="font-family:courier">MA</label>
                <input type ="text" id="MA_timeframe" name="MA_timeframe" placeholder="50" />
                Long
                <input type ="text" id="MA_long" name="MA_long" placeholder="100" />
                Short
                <input type ="text" id="MA_short" name="MA_short" placeholder="200" />

            </div>
            



        <script>
        var binanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@trade");

        var tradeDiv = document.getElementById('trades')      
        
        </script>
        <script src="{{ url_for('static', filename='newchart.js') }}"></script>
    </body>
</html>
